# Pandas Exercise 6

In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
sales1 = pd.read_csv('sales1.csv')
sales1

                         Book title  Number sold  Sales price  Royalty paid
0            The Bricklayer’s Bible            8         2.99          0.55
1                          Swimrand            2         1.99          0.35
2  Pining For The Fisheries of Yore           28         2.99          0.55
3                The Duck Goes Here           34         2.99          0.55
4       The Tower Commission Report            4        11.50          4.25

In [4]:
sales2 = pd.read_csv('sales2.csv')
sales2.fillna('')

                               Title Units sold List price Royalty
0
1                Sales report for Q4
2             E-Book Reader US Store
3   Pining for the Fisheries of Yore         80        3.5   14.98
4                           Swimrand          1       2.99    0.14
5             The Bricklayer's Bible         17        3.5    5.15
6                 The Duck Goes Here         34       2.99    5.78
7        The Tower Commission Report          4        9.5     6.2
8                 US royalties (USD)                         32.25
9
10
11               Sales report for Q4
12            E-Book Reader UK Store
13  Pining for the Fisheries of Yore         47       2.99   11.98
14            The Bricklayer's Bible         17       2.99     3.5
15       The Tower Commission Report          4        6.5     4.8
16                UK royalties (GBP)                         20.28
17
18
19               Sales report for Q4
20        E-Book Reader France Store
21                          Swimrand          8       1.99    0.88
22                The Duck Goes Here         12       1.99     1.5
23            France royalties (EUR)                          2.38

### Challenge: first combine these sales together into a single dataframe, then compute how much money consumers spent on each book in each currency.

In [5]:
df1 = sales1.rename(columns={'Book title':'Title', 'Number sold':'Units sold', 
                             'Sales price':'List price', 'Royalty paid':'Royalty'})
df1['Currency'] = 'USD'
df1

                              Title  Units sold  List price  Royalty Currency
0            The Bricklayer’s Bible           8        2.99     0.55      USD
1                          Swimrand           2        1.99     0.35      USD
2  Pining For The Fisheries of Yore          28        2.99     0.55      USD
3                The Duck Goes Here          34        2.99     0.55      USD
4       The Tower Commission Report           4       11.50     4.25      USD

In [7]:
col = sales2.Title.str.extract(r'\((.*)\)')
sales2['Currency'] = col
sales2['Currency'] = sales2.Currency.fillna(method = 'bfill')
sales2

/home/yangzhibo5947/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

                               Title  Units sold  List price  Royalty Currency
0                                NaN         NaN         NaN      NaN      USD
1                Sales report for Q4         NaN         NaN      NaN      USD
2             E-Book Reader US Store         NaN         NaN      NaN      USD
3   Pining for the Fisheries of Yore        80.0        3.50    14.98      USD
4                           Swimrand         1.0        2.99     0.14      USD
5             The Bricklayer's Bible        17.0        3.50     5.15      USD
6                 The Duck Goes Here        34.0        2.99     5.78      USD
7        The Tower Commission Report         4.0        9.50     6.20      USD
8                 US royalties (USD)         NaN         NaN    32.25      USD
9                                NaN         NaN         NaN      NaN      GBP
10                               NaN         NaN         NaN      NaN      GBP
11               Sales report for Q4         NaN         NaN      NaN      GBP
12            E-Book Reader UK Store         NaN         NaN      NaN      GBP
13  Pining for the Fisheries of Yore        47.0        2.99    11.98      GBP
14            The Bricklayer's Bible        17.0        2.99     3.50      GBP
15       The Tower Commission Report         4.0        6.50     4.80      GBP
16                UK royalties (GBP)         NaN         NaN    20.28      GBP
17                               NaN         NaN         NaN      NaN      EUR
18                               NaN         NaN         NaN      NaN      EUR
19               Sales report for Q4         NaN         NaN      NaN      EUR
20        E-Book Reader France Store         NaN         NaN      NaN      EUR
21                          Swimrand         8.0        1.99     0.88      EUR
22                The Duck Goes Here        12.0        1.99     1.50      EUR
23            France royalties (EUR)         NaN         NaN     2.38      EUR

In [24]:
df2 = sales2.dropna()
df2.replace(["The Bricklayer's Bible", "Pining for the Fisheries of Yore"], 
            ["The Bricklayer’s Bible", "Pining For The Fisheries of Yore"], inplace = True)
df2

/home/yangzhibo5947/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

                               Title  Units sold  List price  Royalty Currency
3   Pining For The Fisheries of Yore        80.0        3.50    14.98      USD
4                           Swimrand         1.0        2.99     0.14      USD
5             The Bricklayer’s Bible        17.0        3.50     5.15      USD
6                 The Duck Goes Here        34.0        2.99     5.78      USD
7        The Tower Commission Report         4.0        9.50     6.20      USD
13  Pining For The Fisheries of Yore        47.0        2.99    11.98      GBP
14            The Bricklayer’s Bible        17.0        2.99     3.50      GBP
15       The Tower Commission Report         4.0        6.50     4.80      GBP
21                          Swimrand         8.0        1.99     0.88      EUR
22                The Duck Goes Here        12.0        1.99     1.50      EUR

In [25]:
df = pd.concat([df1, df2])
df

                               Title  Units sold  List price  Royalty Currency
0             The Bricklayer’s Bible         8.0        2.99     0.55      USD
1                           Swimrand         2.0        1.99     0.35      USD
2   Pining For The Fisheries of Yore        28.0        2.99     0.55      USD
3                 The Duck Goes Here        34.0        2.99     0.55      USD
4        The Tower Commission Report         4.0       11.50     4.25      USD
3   Pining For The Fisheries of Yore        80.0        3.50    14.98      USD
4                           Swimrand         1.0        2.99     0.14      USD
5             The Bricklayer’s Bible        17.0        3.50     5.15      USD
6                 The Duck Goes Here        34.0        2.99     5.78      USD
7        The Tower Commission Report         4.0        9.50     6.20      USD
13  Pining For The Fisheries of Yore        47.0        2.99    11.98      GBP
14            The Bricklayer’s Bible        17.0        2.99     3.50      GBP
15       The Tower Commission Report         4.0        6.50     4.80      GBP
21                          Swimrand         8.0        1.99     0.88      EUR
22                The Duck Goes Here        12.0        1.99     1.50      EUR

In [27]:
df['Total sales'] = df['List price'] * df['Units sold']
df.groupby(['Title', 'Currency'])[['Total sales']].sum()

                                           Total sales
Title                            Currency
Pining For The Fisheries of Yore GBP            140.53
                                 USD            363.72
Swimrand                         EUR             15.92
                                 USD              6.97
The Bricklayer’s Bible           GBP             50.83
                                 USD             83.42
The Duck Goes Here               EUR             23.88
                                 USD            203.32
The Tower Commission Report      GBP             26.00
                                 USD             84.00